<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icicezmaths.ezmaths">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan|adjustResize">
        <activity
            android:name="com.icicezmaths.ezmaths.Anuitati.FactorActualizareViager.MainActivityFactorViager"
            android:label="@string/title_activity_main_factor_viager"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.icicezmaths.ezmaths.RezervaMatematica.MainActivityRezerva"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.icicezmaths.ezmaths.Asigurari.AsigurariPensiiDeces.MainActivityAsigPensiiDecesUnica"
            android:screenOrientation="nosensor"
            android:label="@string/title_activity_main_asig_pensii_deces"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.icicezmaths.ezmaths.Asigurari.AsigurariViata.MaiMultePlati.AsigurariViataMaiMultePlatiMainActivity"
            android:screenOrientation="nosensor"
            android:label="@string/title_activity_asigurari_viata_mai_multe_plati_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.icicezmaths.ezmaths.Asigurari.AsigurariViata.PlataUnica.AsigurariViataUnicaActivity"
            android:screenOrientation="nosensor"/>
        <activity android:name="com.icicezmaths.ezmaths.Asigurari.MainActivityAsigurari"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.icicezmaths.ezmaths.Anuitati.Deces.MainActivityAnuitatiDeces"
            android:screenOrientation="nosensor"
            android:label="@string/title_activity_main_anuitati_deces"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.icicezmaths.ezmaths.Anuitati.AntiPost.MainActivityAnuitatiAntiPost"
            android:screenOrientation="nosensor"
            android:label="@string/title_activity_main_anuitati_anti_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.icicezmaths.ezmaths.Anuitati.MainActivityAnuitati"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.icicezmaths.ezmaths.Rambursari.MainActivityRambursari"
            android:screenOrientation="nosensor"
            android:label="@string/title_activity_main_rambursari"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.icicezmaths.ezmaths.Rambursari.ActivityRambursariTable"
            android:screenOrientation="nosensor"
            android:launchMode="singleTask" />
        <activity android:name="com.icicezmaths.ezmaths.StartActivity" android:screenOrientation="nosensor">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>