<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ezmaths">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan|adjustResize">
        <activity
            android:name=".Asigurari.AsigurariPensiiDeces.MainActivityAsigPensiiDecesUnica"
            android:label="@string/title_activity_main_asig_pensii_deces"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Asigurari.AsigurariViata.MaiMultePlati.AsigurariViataMaiMultePlatiMainActivity"
            android:label="@string/title_activity_asigurari_viata_mai_multe_plati_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Asigurari.AsigurariViata.PlataUnica.AsigurariViataUnicaActivity" />
        <activity android:name=".Asigurari.MainActivityAsigurari" />
        <activity
            android:name=".Anuitati.Deces.MainActivityAnuitatiDeces"
            android:label="@string/title_activity_main_anuitati_deces"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Anuitati.AntiPost.MainActivityAnuitatiAntiPost"
            android:label="@string/title_activity_main_anuitati_anti_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Anuitati.MainActivityAnuitati" />
        <activity
            android:name=".Rambursari.MainActivityRambursari"
            android:label="@string/title_activity_main_rambursari"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Rambursari.ActivityRambursariTable"
            android:launchMode="singleTask" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>